<div class="modal fade" tabindex="-1" role="dialog" id=<%-modal_id%>>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Visitor</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card m-2 accordion">
                        <div class="subsection ml-auto">
                            <a class="btn" data-toggle="collapse" data-target="#basicInfo2" aria-expanded="true"
                                aria-controls="collapseTwo">Basic Information <i class="las la-sort-down"></i></a>
                        </div>
                        <div class="card-body p-2 collapse show" data-parent="#accordion" id="basicInfo2">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Visitor type</span>
                                        </div>
                                        <select class="form-control" id="type">
                                            <option>Support</option>
                                            <option>Victim</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Relationship</span>
                                        </div>
                                        <select class="form-control" id="type">
                                            <option>Advocate</option>
                                            <option>Arresting Officer</option>
                                            <option>Attorney</option>
                                            <option>Aunt</option>
                                            <option>Boyfriend</option>
                                            <option>Brother</option>
                                            <option>Brother-in-law</option>
                                            <option>Brother-in-law and Sister</option>
                                            <option>Consultant</option>
                                            <option>Cousin</option>
                                            <option>Daughter</option>
                                            <option>Daughter-in-law</option>
                                            <option>Ex-Husband</option>
                                            <option>Ex-Wife</option>
                                            <option>Father</option>
                                            <option>Father-in-law</option>
                                            <option>Fiancée</option>
                                            <option>Florida Highway Patrol</option>
                                            <option>Florida Police Benevolent Association</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Circuit</span>
                                        </div>
                                        <select class="form-control" id="type">
                                            <option>1st Judicial Circuit</option>
                                            <option>2nd Judicial Circuit</option>
                                            <option>3rd Judicial Circuit</option>
                                            <option>4th Judicial Circuit</option>
                                            <option>5th Judicial Circuit</option>
                                            <option>6th Judicial Circuit</option>
                                            <option>7th Judicial Circuit</option>
                                            <option>8th Judicial Circuit</option>
                                            <option>9th Judicial Circuit</option>
                                            <option>10th Judicial Circuit</option>
                                            <option>11th Judicial Circuit</option>
                                            <option>12th Judicial Circuit</option>
                                            <option>13th Judicial Circuit</option>
                                            <option>14th Judicial Circuit</option>
                                            <option>15th Judicial Circuit</option>
                                            <option>16th Judicial Circuit</option>
                                            <option>17th Judicial Circuit</option>
                                            <option>18th Judicial Circuit</option>
                                            <option>19th Judicial Circuit</option>
                                            <option>20th Judicial Circuit</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">County</span>
                                        </div>
                                        <input type="text" class="form-control" id="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group date">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Contact Date</span>
                                        </div>
                                        <input type="text" class="form-control" id="contact">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Title/Off</span>
                                        </div>
                                        <input type="text" class="form-control" id="contact">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2 accordion">
                        <div class="subsection ml-auto">
                            <a class="btn" data-toggle="collapse" data-target="#nameInfo2" aria-expanded="true"
                                aria-controls="collapseTwo">Visitor Name <i class="las la-sort-down"></i></a>
                        </div>
                        <div class="card-body p-2 collapse show" data-parent="#accordion" id="nameInfo2">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Prefix</span>
                                        </div>
                                        <select class="form-control" id="type">
                                            <option>Bishop</option>
                                            <option>Captain</option>
                                            <option>Chaplain</option>
                                            <option>Chief</option>
                                            <option>Col.</option>
                                            <option>Deputy</option>
                                            <option>Det.</option>
                                            <option>Dr.</option>
                                            <option>Investigator</option>
                                            <option>Judge</option>
                                            <option>Lt.</option>
                                            <option>Major</option>
                                            <option>Mr.</option>
                                            <option>Mrs.</option>
                                            <option>Mr. & Mrs.</option>
                                            <option>Ms</option>
                                            <option>Officer</option>
                                            <option>Other</option>
                                            <option>Pastor</option>
                                            <option>Professor</option>
                                            <option>Rabbi</option>
                                            <option>Representative</option>
                                            <option>Rev.</option>
                                            <option>Senator</option>
                                            <option>Sgt.</option>
                                            <option>Sheriff</option>
                                            <option>Sister</option>
                                            <option>The Honorable</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">First Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="firstName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Last Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">M</span>
                                        </div>
                                        <input type="text" class="form-control" id="middleName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Suffix</span>
                                        </div>
                                        <select class="form-control" id="type">
                                            <option>Assistant District Attorney</option>
                                            <option>Assistant State Attorney</option>
                                            <option>Chief Assistant State Attorney</option>
                                            <option>Deputy Director</option>
                                            <option>Deputy Executive Director</option>
                                            <option>Director</option>
                                            <option>Division Chief</option>
                                            <option>Executive Director</option>
                                            <option>First Assistant State Attorney</option>
                                            <option>Investigator</option>
                                            <option>Jr.</option>
                                            <option>Judge</option>
                                            <option>Other</option>
                                            <option>Parole Specialist</option>
                                            <option>President</option>
                                            <option>Sheriff</option>
                                            <option>Sr.</option>
                                            <option>State Attorney</option>
                                            <option>Victims Advocate</option>
                                            <option>Satewide Director</option>
                                            <option>Victim/Witness Coordinator</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2 accordion">
                        <div class="subsection ml-auto">
                            <a class="btn" data-toggle="collapse" data-target="#demographic2" aria-expanded="true"
                                aria-controls="collapseTwo">Demographic <i class="las la-sort-down"></i></a>
                        </div>
                        <div class="card-body p-2 collapse show" id="demographic2" data-parent="#accordion">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Gender</span>
                                        </div>
                                        <input type="text" class="form-control" id="firstName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Disability</span>
                                        </div>
                                        <input type="text" class="form-control" id="lastName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Dob</span>
                                        </div>
                                        <input type="text" class="form-control" id="lastName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Race</span>
                                        </div>
                                        <input type="text" class="form-control" id="lastName">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2 accordion">
                        <div class="subsection ml-auto">
                            <a class="btn" data-toggle="collapse" data-target="#contactInfo2" aria-expanded="true"
                                aria-controls="collapseTwo">Contact Information <i class="las la-sort-down"></i></a>
                        </div>
                        <div class="card-body p-2 collapse show" id="contactInfo2" data-parent="#accordion">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Address line 1</span>
                                        </div>
                                        <input type="text" class="form-control" id="address1">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Address line 2</span>
                                        </div>
                                        <input type="text" class="form-control" id="address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">City</span>
                                        </div>
                                        <input type="text" class="form-control" id="address1">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">State</span>
                                        </div>
                                        <input type="text" class="form-control" id="address2">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Zip</span>
                                        </div>
                                        <input type="text" class="form-control" id="address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend .d-sm-none .d-md-block">
                                            <span class="input-group-text">Email</span>
                                        </div>
                                        <input type="text" class="form-control" id="address1">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Homephone</span>
                                        </div>
                                        <input type="text" class="form-control" id="address2">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Workphone</span>
                                        </div>
                                        <input type="text" class="form-control" id="address2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Comments</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="Comment">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">BFN</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch" placeholder="BFN">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add Visitor</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>