<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Add Service</h5>
                </div>
                <div class="">
                    <a class="btn pt-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne"> <i class="las la-sort-down"></i> </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show align-content-center" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="width:100%">
                <div class="row mb-2">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Service type</span>
                            </div>
                            <select class="form-control" id="type">
                                <option>Service 1</option>
                                <option>Service 2</option>
                                <option>Service 3</option>
                                <option>Service 4</option>
                                <option>Service 5</option>
                                <option>Service 6</option>
                                <option>Service 7</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col">
                            <div class="input-group date">
                                <div class="input-group-prepend .d-sm-none .d-md-block">
                                    <span class="input-group-text">Timestamp</span>
                                </div>
                                <input type="text" class="form-control" id="contact">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend .d-sm-none .d-md-block">
                                <span class="input-group-text">Comments</span>
                            </div>
                            <input type="text" class="form-control" id="firstName">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button type="button" id="addVisitor" class="btn btn-primary ml-auto">Add Service</button>
                </div>
            </div>
        </div>
    </div>
</div>