<% include('./partials/pageutils/paramcheck/base') %>
<!doctype html>
<html lang="en" class="h-100">
<%- include(head) %>

<body class="d-flex flex-column h-100">
    <%- include(header) %>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <div class="d-flex justify-content-center">
                <% if (typeof flexItems != 'undefined' && Array.isArray(flexItems)){ %>
                    <% flexItems.forEach(function(item){ %>
                        <%- include(item) %>
                    <% }) %>
                <% } %>
            </div>

            <%- include('./partials/pageutils/modalhandler') %>
        </div>
    </main>

    <%- include(jsincludes) %>
    <%- include(footer) %>

    <% if(typeof additionalJS != 'undefined' && Array.isArray(additionalJS)){ %>
        <% additionalJS.forEach(function(jsLink){ %>
            <script src="<%- jsLink %>"></script>
        <% }) %>
    <% } %>
</body>
</html>