<div class="accordion">
    <div class="card">
        <div class="card-header" id="heading">
            <div class="d-flex mr-auto">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Victim Notifications</h5><br />
                    <h5 class="card-title text-danger pt-2">DC ID#: 68493</h5>
                </div>
            </div>
        </div>
        <div id="collapseTwo" class="collapse show p-2 table-responsive card-body" aria-labelledby="headingOne" data-parent="#accordion">
            <table id="vnlTable" class="table table-striped table-sm" style="align-self: center;">
            </table>
        </div>
    </div>
</div>