<div class="accordion">
    <div class="card">
        <div class="card-header" id="heading">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Comments</h5>
                </div>
                <div class="">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_1">
                        Add Comment
                    </button>
                    <a class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo"> <i class="las la-sort-down"></i> </a>
                </div>
            </div>
        </div>
        <div id="collapseTwo" class="collapse show p-2 table-responsive" aria-labelledby="headingOne" data-parent="#accordion">
            <table id="commentsTable" class="table table-striped table-sm" style="align-self: center;">
            </table>
        </div>
    </div>
</div>