<div class="container-fluid">
    <div class="card p-2">
        <h5 class="card-title">Cop Check Reconciliation</h5>
        <hr>
        <form>
            <div class="row">
                <div class="col-auto">
                    <select class="form-control" id="region">
                        <option>Select region</option>
                        <option>0</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>C - Central Office</option>
                        <option>E</option>
                        <option>P</option>
                        <option>I</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-control" id="transactionType">
                        <option>Select transaction type</option>
                        <option>A - All Checks</option>
                        <option>Outstanding</option>
                        <option>Reconciled</option>
                        <option>V</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="dateSearch" placeholder="Select Date">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary mb-2" id="payeeSearch">Search</button>
                </div>
            </div>
        </form>
        <table id="payeeTable" class="table table-striped d-none" style="width:100%">
        </table>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="payeeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payee Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid m-2">
                        <form class="p-2 m-2">
                            <div class="form-group row">
                              <div class="col-sm-4">
                                <span class="col-form-label">Id</span>
                              </div>
                              <div class="col-sm-8">
                                <input type="text" readonly class="payeeFormInput d-none" id="payeeId">
                                <span class="payeeDisplay" id="payeeId_span"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Name</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeName">
                                  <span class="payeeDisplay" id="payeeName_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Num. Offenders</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="num_offenders">
                                  <span class="payeeDisplay" id="num_offenders_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Check Amount</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="check_amount">
                                  <span class="payeeDisplay" id="check_amount_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Check End Number</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="check_end_number">
                                  <span class="payeeDisplay" id="check_end_number_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Check Status</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="check_status">
                                  <span class="payeeDisplay" id="check_status_span"></span>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editPayee">Edit</button>
                    <button type="button" class="btn btn-primary d-none" id="savePayee">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>