<div class="accordion">
    <div class="card">
        <div class="card-header" id="heading">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Search Visitor</h5>
                </div>
            </div>
        </div>
        <div class="card-body" style="width: 100%;">
            <form>
                <div class="card m-2">
                    <div class="card-body p-2 justify-content-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><strong>Inmate: </strong>John Doe</li>
                            <li class="list-inline-item"><strong>DC#: </strong>12345</li>
                        </ul>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body p-2" id="basicInfo">
                        <div class="row mb-2 p-2">
                            <div class="col-lg-6 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend .d-sm-none .d-md-block">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Relationship</span>
                                    </div>
                                    <select class="form-control" id="type">
                                        <option disabled selected>Select ...</option>
                                        <option>Advocate</option>
                                        <option>Arresting Officer</option>
                                        <option>Attorney</option>
                                        <option>Aunt</option>
                                        <option>Boyfriend</option>
                                        <option>Brother</option>
                                        <option>Brother-in-law</option>
                                        <option>Brother-in-law and Sister</option>
                                        <option>Consultant</option>
                                        <option>Cousin</option>
                                        <option>Daughter</option>
                                        <option>Daughter-in-law</option>
                                        <option>Ex-Husband</option>
                                        <option>Ex-Wife</option>
                                        <option>Father</option>
                                        <option>Father-in-law</option>
                                        <option>Fiancée</option>
                                        <option>Florida Highway Patrol</option>
                                        <option>Florida Police Benevolent Association</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend .d-sm-none .d-md-block">
                                        <span class="input-group-text">Email</span>
                                    </div>
                                    <input type="text" class="form-control" id="address1">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Homephone</span>
                                    </div>
                                    <input type="text" class="form-control" id="address2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button type="button" id="searchVisitor" class="btn btn-primary ml-auto">Search Visitor</button>
                </div>
            </form>
        </div>
        </div>
</div>