<div class="card">
    <div class="card-header" id="headingOne">
        <div class="d-flex">
            <div class="mr-auto">
                <h5 class="card-title pt-2">File Upload: John Doe</h5>
            </div>
        </div>
    </div>
    <form>
        <div class="card-body" style="width:100%">
            <div class="row mb-3">
                <div class="col-lg-6 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-prepend .d-sm-none .d-md-block">
                            <span class="input-group-text">DC #</span>
                        </div>
                        <input type="text" class="form-control" id="dcNumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <div class="drop-it-hot upload-section mb-3 jumbotron" id="drop-area" style="">
                        <i class="las la-cloud-upload-alt" style="font-size: 4.0rem;"></i>
                        <div class="button-wrapper">
                            <label class="label" for="fileElem">Drag file(s) here to upload</label><br />
                            <input class="d-none" type="file" id="fileElem" onchange="handleFiles(this.files)" multiple>
                        </div>
                    </div>
                    <div class="row-4 d-none" id="status">
                        <dl class = "row">
                            <dt class="col-3">Name:</dt>
                            <dd class="col-9" id="fileName"></dd>
                            <dt class="col-3">Type:</dt>
                            <dd class="col-9" id="fileType"></dd>
                            <dt class="col-3">Size:</dt>
                            <dd class="col-9" id="fileSize"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="row mb-3 p-2">
                <div class="col" id="uploadedFiles"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <button type="button" class="btn btn-primary btn-block" id="upload" style="font-size: large;"> Submit </button>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <button type="button" class="btn btn-danger btn-block" id="clear" style="font-size: large;">Clear</button>
                </div>
            </div>
        </div>
    </form>

</div>