<div class="accordion">
    <div class="card mt-2">
        <div class="card-header" id="heading">
        </div>
        <div id="collapseTwo" class="collapse show p-2 table-responsive" aria-labelledby="headingOne" data-parent="#accordion" style="align-self: center;">
        </div>
    </div>
</div>