<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Docket</h5>
                </div>
                <div class="">
                    <a class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne"> <i class="las la-sort-down"></i> </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show align-content-center" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="width:100%">
                <div class="row m-2" id="calendarView">
                </div>
            </div>
        </div>
    </div>
</div>