main > .container {
    padding: 60px 15px 0;
}

.col-form-label {
    padding: .375rem 0;
}

@media (min-width: 1800px){
    main >.container {
        max-width: 1700px;
    }
}

@media (min-width: 2100px){
    main >.container {
        max-width: 2000px;
    }
}

@media (min-width: 2400px){
    main >.container {
        max-width: 2300px;
    }
}
.card-header {
    padding: 0.4rem 0.5rem!important;
}

.subsection {
    background-color: transparent!important;
    border-radius: 0!important;
}

.calendar-date:hover {
    border: 5px solid!important;
    border-color: var(--primary)!important;
}