/* body {
}

.card-header, .modal-header {
    background-color: #8492a3!important;
    color: white!important;
}

.navbar, .footer {
    background-color: #8492a3!important;
}

.input-group-text {
}

/* .card-body, .modal-body {
    background-color: #896279!important;
    color: white;
} */

/* .btn-primary {
    background-color: #3590f3;
}

.btn-danger, .badge-danger {
    background-color: #f18f01;
}

.badge-success {
    background-color: #008148;
}

.badge-secondary, .badge-info {
    background-color: #d3c1c3;
}  */