body {
}

.card-header, .modal-header {
    background-color: #335c81!important;
    color: white!important;
}

.navbar, .footer {
    background-color: #335c81!important;
}

.input-group-text {
}

.card-body, .modal-body {
    background-color: #e5fbff!important;
    color: #623028!important
}

.btn-primary {
    background-color: #878472;
}
 
 