<div class="modal fade" tabindex="-1" role="dialog" id=<%-modal_id%>>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Inmate</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 ml-3">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend .d-sm-none .d-md-block">
                                        <span class="input-group-text">First Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Last Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 ml-3">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Start</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="Agenda Start Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">End</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="Agenda End Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Start</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="NID Start Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">End</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch" placeholder="NID End Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="mb-3 ml-3">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">DC #</span>
                                    </div>
                                    <input type="text" class="form-control" id="dcNumber">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Issue</span>
                                    </div>
                                    <select class="form-control" id="Issue">
                                        <option>A - All Checks</option>
                                        <option>Outstanding</option>
                                        <option>Reconciled</option>
                                        <option>V</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 ml-3">
                        <div class="row">
                            <div class="col">Select All that applies</div>
                        </div>
                        <div class="row">
                            <div class="col pt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Parole(PRL)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Clemency(CLM)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Conditional
                                        Medical(CMD)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Conditional
                                        Release(CRL)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Conditional
                                        Release(CRL)</label>
                                </div>

                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add Inmate</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>