<% if(typeof modalItems != 'undefined' && Array.isArray(modalItems)){ %>
    <% if( 
        typeof modalNames == 'undefined' || 
        !Array.isArray(modalNames) || 
        modalNames.length != modalItems.length) throw new Error('Bad modal injection') %>
    
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <% for(let i=0 ; i < modalNames.length; i++){ %>
                <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#modal_<%- (i+1) %>">
                    <%- modalNames[i] %>
                </button>
            <% } %>
        </div>
    </div>
    <% for(let j = 0; j < modalItems.length; j++){ %>
        <%- include(('../../' + modalItems[j]), { modal_id: ('modal_' + (j + 1)) }) %>
    <% } %>
<% } %>