<div class="container-fluid">
    <div class="card p-2">
        <h5 class="card-title">Cop receipts by offender</h5>
        <hr>
        <form>
            <div class="row">
                <div class="col-auto">
                    <input type="text" class="form-control" id="offenderName" placeholder="Enter Offender Name">
                </div>
                <div class="col-auto">
                    <select class="form-control" id="offenderStatus">
                        <option>Select offender status</option>
                        <option>S</option>
                        <option>X</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary mb-2" id="payeeSearch">Search</button>
                </div>
            </div>
        </form>
        <table id="receiptsTable" class="table table-responsive table-striped d-none" style="width:100%">
        </table>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="payeeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Receipt Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid m-2">
                        <form class="p-2 m-2">
                            <div class="form-group row">
                              <div class="col-sm-4">
                                <span class="col-form-label">Receipt Date</span>
                              </div>
                              <div class="col-sm-8">
                                <input type="text" readonly class="payeeFormInput d-none" id="receipt_date">
                                <span class="payeeDisplay" id="receipt_date_span"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">BT ST</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="bt_st">
                                  <span class="payeeDisplay" id="bt_st_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">As of Date</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="as_of_date">
                                  <span class="payeeDisplay" id="as_of_date_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Offender Receipt No.</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="offender_receipt">
                                  <span class="payeeDisplay" id="offender_receipt_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Offender Payment</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="offender_payment">
                                  <span class="payeeDisplay" id="offender_payment_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Payee Id</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payee_id">
                                  <span class="payeeDisplay" id="payee_id_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">PFX Sequence</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="pfx_seq">
                                  <span class="payeeDisplay" id="pfx_seq_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <span class="col-form-label">Amount Disbursed</span>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="payeeFormInput d-none" id="amount_disbursed">
                                  <span class="payeeDisplay" id="amount_disbursed_span"></span>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editPayee">Edit</button>
                    <button type="button" class="btn btn-primary d-none" id="savePayee">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>