<div class="card">
    <div class="card-header" id="headingOne">
        <div class="d-flex">
            <div class="mr-auto">
                <h5 class="card-title pt-2">Agenda Date: Nov 30th, 2021</h5>
            </div>
        </div>
    </div>
</div>
<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Full</h5>
                </div>
                <div class="">
                    <a class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne"> <i class="las la-sort-down"></i> </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show align-content-center" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body p-2 table-responsive">
                <table id="fullTable" class="table table-striped table-sm" style="align-self: center;">
                </table>
            </div>
        </div>
    </div>
</div>