<% if(typeof head === 'undefined') throw new Error('head partial missing'); %>
<% if(typeof header === 'undefined') throw new Error('header partial missing'); %>
<% if(typeof jsincludes === 'undefined') throw new Error('jsincludes partial missing'); %>
<% if(typeof footer === 'undefined') throw new Error('footer partial missing'); %>