<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Inmate Search</h5>
                </div>
                <div class="">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_1">
                        Add Inmate
                    </button>
                    <a class="btn pt-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne"> <i class="las la-sort-down"></i> </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show align-content-center" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="width:100%">
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-2 pt-2 pl-4"></div>
                            <div class="col-md-2 pt-2 pl-4 d-none">Name</div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend .d-sm-none .d-md-none">
                                        <span class="input-group-text">First Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Last Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-2 pt-2 pl-4"></div>
                            <div class="col-md-2 pt-2 pl-4 d-none">Agenda</div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Start</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="Agenda Start Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">End</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="Agenda End Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <div class="row">
                            <div class="col-md-2 pt-2 pl-4">NID</div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Start</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch"
                                        placeholder="NID Start Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">End</span>
                                    </div>
                                    <input type="text" class="form-control" id="dateSearch" placeholder="NID End Date">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-2 pt-2 pl-4"></div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">DC #</span>
                                    </div>
                                    <input type="text" class="form-control" id="dcNumber">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 p-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Issue</span>
                                    </div>
                                    <select class="form-control" id="Issue">
                                        <option>A - All Checks</option>
                                        <option>Outstanding</option>
                                        <option>Reconciled</option>
                                        <option>V</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-flex">
                        <button type="button" class="btn btn-primary mb-2 ml-auto" id="inmateSearch">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>