<div class="accordion">
    <div class="card mt-2">
        <div class="card-header" id="heading">
            <div class="d-flex">
                <div class="mr-auto">
                    <h5 class="card-title pt-2">Opposed Documents</h5>
                </div>
                <a class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo"> <i class="las la-sort-down"></i> </a>
            </div>
        </div>
        <div id="collapseTwo" class="collapse show p-2 table-responsive" aria-labelledby="headingOne" data-parent="#accordion" style="align-self: center;">
            <div class="card-body p-2 table-responsive">
                <table id="opposedTable" class="table table-striped table-sm" style="align-self: center;">
                </table>
            </div>
        </div>
    </div>
</div>